@import "mixins";

.header {
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

.homepage_header_container {
    @include flex-row-alignement;
}

.homepage_header_heading {
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
    margin: 0;
}

.homepage_header_label {
    background-image: url(../images/menu.svg);
    background-repeat: no-repeat;
    background-position: 40px -9px;
    padding: 16px;
    padding-left: 32px;
    padding-top: 0;
}

input#menu {
    visibility: collapse;
}
.page_nav.homepage_header_nav {
    //display: none;
    padding: 1rem;
    padding-top: 8px;
    background-color: #f8f8f8;
    position: absolute;
    z-index: 3;
    top: 84px;
    bottom: 0;
    transform: translateX(200%);
    min-width: 100%;
    max-height: 30%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);

    & a {
        font-weight: 500;
        font-size: 16px;
        line-height: 36px;
        color: #333333;
    }
}

.page_nav.homepage_header_nav.showMenu {
    transform: translateX(0);
    left: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

@media (min-width: 1114px) {
    .header {
        padding-top: 24px;
        padding-left: 70px;
        padding-right: 70px;
    }

    .homepage_header_heading {
        font-size: 36px;
        line-height: 53px;
    }

    .homepage_header_label {
        display: none;
    }

    .page_nav.homepage_header_nav {
        min-width: 50%;
        display: block;
        position: unset;
        transform: unset;
        box-shadow: none;
        background-color: unset;

        & .homepage_header_lists {
            width: 100%;
            @include flex-row-alignement;

            & a {
                font-size: 24px;
            }
        }
    }
}
