body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  color: #333333; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

p {
  margin: 0; }

.header {
  padding-top: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 48px; }

.homepage_header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.homepage_header_heading {
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  margin: 0; }

.homepage_header_label {
  background-image: url(../images/menu.svg);
  background-repeat: no-repeat;
  background-position: 40px -9px;
  padding: 16px;
  padding-left: 32px;
  padding-top: 0; }

input#menu {
  visibility: collapse; }

.page_nav.homepage_header_nav {
  padding: 1rem;
  padding-top: 8px;
  background-color: #f8f8f8;
  position: absolute;
  z-index: 3;
  top: 84px;
  bottom: 0;
  transform: translateX(200%);
  min-width: 100%;
  max-height: 30%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%); }
  .page_nav.homepage_header_nav .homepage_header_list {
    margin-right: 16px; }
  .page_nav.homepage_header_nav a {
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    color: #333333; }

.homepage_section:not(:first-of-type) {
  padding-left: 32px;
  padding-right: 32px; }

.page_nav.homepage_header_nav.showMenu {
  transform: translateX(0);
  left: 0;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0); }

@media (min-width: 1114px) {
  .header {
    padding-top: 24px;
    padding-left: 70px;
    padding-right: 70px; }
  .homepage_header_heading {
    font-size: 36px;
    line-height: 53px; }
  .homepage_header_label {
    display: none; }
  .page_nav.homepage_header_nav {
    min-width: 50%;
    display: block;
    position: unset;
    transform: unset;
    box-shadow: none;
    background-color: unset; }
    .page_nav.homepage_header_nav .homepage_header_lists {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .page_nav.homepage_header_nav .homepage_header_lists a {
        font-size: 24px; } }

.home_section {
  padding-bottom: 80px; }

.home_header_subheading,
.home_section_subheading,
.home_section_paragraph {
  padding-left: 32px;
  padding-right: 32px;
  margin: 0; }

.home_header_subheading {
  font-size: 12px;
  line-height: 18px;
  color: #2d9cdb; }

.home_section_subheading {
  font-size: 24px;
  line-height: 36px; }

.home_section_image_container {
  padding: 10px; }

.home_section_image_container img {
  max-width: 100%;
  height: 145px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px; }

.home_section_paragraph {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-top: 24px;
  margin-bottom: 30px; }

.home_section_div .home_section_paragraph {
  font-size: 10px;
  line-height: 15px;
  color: #828282;
  margin: 0; }

.home_section_input,
.join_btn {
  border-radius: 12px;
  outline: none;
  border: rgba(128, 128, 128, 0.404);
  padding: 8px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px; }

.home_section_input {
  background-color: #f2f2f2;
  margin-left: 32px;
  padding-top: 12px;
  padding-bottom: 12px; }

.join_btn {
  background-color: #2d9cdb;
  font-size: 14px;
  line-height: 21px;
  color: #f2f2f2;
  margin-left: -20px;
  padding-left: 16px;
  padding-right: 16px; }

@media (min-width: 1114px) {
  .home_section {
    padding-bottom: 102px; }
  .home_header_subheading,
  .home_section_subheading,
  .home_section_paragraph {
    max-width: 543px;
    padding-left: 277px;
    padding-right: 0;
    margin: 0; }
  .home_header_subheading {
    font-size: 18px;
    line-height: 27px; }
  .home_section_subheading {
    font-size: 48px;
    line-height: 72px; }
  .home_section_paragraph {
    font-size: 18px;
    line-height: 27px; }
  .home_section_paragraph {
    margin-top: 42px;
    margin-bottom: 42px; }
  .home_section_div .home_section_paragraph {
    font-size: 14px;
    line-height: 21px;
    margin: 0; }
  .home_section_input {
    width: 330px;
    margin-left: 277px;
    padding-top: 16px;
    padding-bottom: 16px; }
  .join_btn {
    font-size: 18px;
    line-height: 27px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .home_section_image_container {
    padding-left: 70px; }
    .home_section_image_container img {
      border-radius: 18px;
      height: 300px; } }

.services_section {
  padding-bottom: 130px; }
  .services_section .services_header_subheading {
    font-size: 24px;
    line-height: 36px; }
  .services_section .services_article_subheading {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px; }
  .services_section .services_section_link {
    font-size: 16px;
    line-height: 24px;
    background: #e0e0e0;
    border-radius: 12px;
    padding: 9px;
    padding-left: 12px;
    padding-right: 12px;
    color: #828282; }
  .services_section .services_section_link:hover {
    background-color: #2d9cdb; }

.services_section_article {
  padding-top: 50px;
  padding-bottom: 32px;
  margin-bottom: 50px;
  margin-left: -16px;
  padding-left: 16px; }
  .services_section_article:hover {
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px; }

.service_section_paragraph {
  margin-top: 24px;
  margin-bottom: 24px; }

@media (min-width: 1114px) {
  .services_header_subheading {
    max-width: 250px;
    padding-left: 165px;
    font-size: 36px;
    line-height: 54px; }
  .articles_container {
    padding-left: 200px;
    display: flex;
    column-gap: 50px; }
  .service_section_paragraph {
    max-width: 273px; } }

.works_header_subheading {
  font-size: 24px;
  line-height: 36px;
  margin-left: 45px; }

.homepage_section.works_section {
  padding-left: 16px;
  padding-right: 16px; }

.works_section_article img {
  width: 100%;
  height: 337px;
  opacity: 0.6;
  border-radius: 12px; }

.works_category,
.works_name {
  display: block; }

.works_category {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #828282; }

.works_name {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px; }

.homepage_link.works_link {
  font-size: 18px;
  line-height: 27px;
  color: #2d9cdb; }

@media (min-width: 1114px) {
  .works_header_subheading {
    max-width: 448px;
    font-size: 36px;
    line-height: 54px;
    padding-left: 138px;
    padding-bottom: 120px; }
  .homepage_container.articles_container.articles_container--works {
    padding-left: 185px;
    padding-right: 136px; }
  .articles_container--works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px; }
  .works_section_article img {
    width: 100%;
    height: auto; }
  .works_section_article:nth-of-type(1) {
    margin-top: -20px; }
  .works_section_article:nth-of-type(2) {
    margin-top: -150px; }
  .works_section_article:nth-of-type(3) {
    margin-top: 100px; }
  .works_section_article:nth-of-type(4) {
    margin-top: -30px; }
  .works_link_container {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
  .homepage_link.works_link {
    font-size: 24px;
    line-height: 36px;
    transform: translatey(-50px);
    margin-right: 135px;
    -webkit-transform: translatey(-50px);
    -moz-transform: translatey(-50px);
    -ms-transform: translatey(-50px);
    -o-transform: translatey(-50px); } }

.homepage_section.clients_section {
  padding-left: 16px;
  padding-bottom: 16px;
  padding-top: 100px; }

h2.clients_article_subheading,
h3.clients_article_subheading {
  margin: 0; }

h2.clients_article_subheading a {
  font-size: 18px;
  line-height: 27px;
  color: #eb5757; }

h3.clients_article_subheading {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px; }

.clients_section_paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
  margin-bottom: 36px; }

.clients_images_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px; }
  .clients_images_container img {
    width: 100%;
    border-radius: 24px; }
  .clients_images_container .clients_images:nth-of-type(1) {
    min-height: 220px;
    grid-column: 1;
    margin-top: 83px; }
  .clients_images_container .clients_images:nth-of-type(2) {
    min-height: 200px;
    grid-column: 2; }
    .clients_images_container .clients_images:nth-of-type(2) img {
      width: 90%; }
  .clients_images_container .clients_images:nth-of-type(3) {
    min-height: 200px;
    grid-column: 2;
    margin-top: -76px; }
  .clients_images_container .clients_section_paragraph--info {
    font-size: 24px;
    line-height: 36px;
    padding-top: 100px; }

.clients_image {
  display: flex;
  margin-top: 16px; }
  .clients_image .clients_image_container img {
    width: 87px;
    height: 87px;
    margin-right: 16px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px; }
  .clients_image span {
    display: block; }
  .clients_image .clients_name {
    font-size: 24px;
    line-height: 36px; }
  .clients_image .clients_name ~ span {
    font-size: 18px;
    line-height: 27px;
    color: #828282; }

@media (min-width: 1114px) {
  .homepage_section.clients_section {
    padding: 0;
    padding-top: 150px; }
  article.homepage_article.clients_section_article {
    max-width: 280px;
    margin-top: 125px;
    margin-right: 25px; }
  .clients_container {
    max-width: 620px;
    padding-left: 200px; }
  .clients_images_container .clients_images:nth-of-type(1) {
    margin-top: 130px; }
  .clients_images_container .clients_images:nth-of-type(3) {
    min-height: 200px;
    grid-column: 2;
    margin-top: -158px; }
  .clients_section_paragraph--info {
    font-size: 24px;
    line-height: 36px;
    padding-top: 100px; }
  .clients_image {
    display: flex;
    margin-top: 36px; } }
